.feed-item {
  padding: 20px;
  height: 160px;
  display: flex;
  align-items: center;

  //
  @media screen and (max-width: 770px) {
    padding: 10px;
    height: 120px;
    border-bottom: 0.5px solid gray;
  }
  .vote-box {
    padding-right: 10px;
    flex-direction: column;
    @media screen and (max-width: 770px) {
      padding-right: 4px;
    }

    .vote {
      color: gray;
    }
    .vote:hover {
      color: black;
      transform: scale(1.5);
    }
  }
  .media-thumb {
    height: 120px;
    float: left;

    @media screen and (max-width: 770px) {
      height: 80px;
    }
  }
  .info-box {
    padding: 10px;
    .title {
      font-size: 24px;
      font-weight: 600;

      @media screen and (max-width: 770px) {
        font-size: 18px;
      }
    }
    .author-box {
      display: flex;
      img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      .author-name {
        color: blue;
        margin-left: 10px;
        font-size: 14px;
        @media screen and (max-width: 770px) {
          font-size: 10px;
        }
      }
    }
    .time {
      font-size: 14px;
      color: gray;
      .time-date {
        margin-left: 4px;
        font-weight: 600;
      }
      @media screen and (max-width: 770px) {
        font-size: 10px;
      }
    }
    .description {
      font-size: 12px;
    }
  }
}

.feed-item:hover {
  box-shadow: 10px 10px 99px -13px rgba(0, 0, 0, 0.68);
  cursor: pointer;
  @media screen and (max-width: 770px) {
    box-shadow: none;
  }
}
